#selectBox {
  background-color: #a50d0d;
  float: left;
  min-width: 600px;
  border-radius: 10px;
}

#pizzaSizeInput {
  margin-top: 1%;
  margin-left: 10%;
  margin-bottom: 8%;

}

#toppingInputOne {
  margin-top: 1%;
  margin-left: 40%;
  margin-bottom: 8%;

}

#toppingInputTwo {
  margin-top: 1%;
  margin-left: 90%;
  margin-bottom: 8%;
}


#pizzaInfo {
  margin: 5%;
  margin-bottom: 5%;
}

body {
  background-color:#4b0202;
}

h1 {
  color: #f4d9be;
  font-family: "Arial Rounded MT Bold";
  margin: 1%;
}

h2 {
  color: #f4d9be;
  font-family: "Arial Rounded MT Bold";
  margin: 2%;
  margin-left: 4%;
}

.btn {
  margin-bottom: 10%;
}
