body {
  background-color: #4b0202;
}

h1 {
  color: #efbf8f;
  font-family: "Arial Rounded MT Bold";
  margin: 1%;
  margin-top: 2%;
}

h2 {
  color: #f4d9be;
  font-family: "Arial Rounded MT Bold";
  margin: 2%;
  margin-left: 4%;
  margin-top: 5%;
}

h3 {
  color: #efbf8f;
  font-family: "Arial Rounded MT Bold";
  margin: 1%;
  margin-bottom: 8%;
}

h4 {
  color: #4b0202;
  font-family: "Arial Rounded MT Bold";
  margin-top:9%;
  margin-left:6%;
  float:left;
}

h5 {
  color: #4b0202;
  font-style: oblique;
  font-family: "Arial Rounded MT Bold";
}

label {
  color: #f4d9be;
  font-family: "Arial Rounded MT Bold";
  margin: 1%;
}

p {
  text-align: center;
  color: #f4d9be;
  font-size: 300%;
  font-family: "Arial Rounded MT Bold";
  position: relative;
}

.btn {
  margin-bottom: 10%;
  text-align: center;
}

#orderBox {
  /*margin: 1%;*/
}

#orderAddress {
  background-color: #a50d0d;
  border-radius: 8px;
  float: left;
  margin-left: 3%;
  margin-top: 2%;
  min-height: 300px;
}

#orderPizza {
  background-color: #a50d0d;
  border-radius: 8px;
  float: left;
  margin-top: 1%;
  min-height: 500px;
  background-image: url("pizzawallpaper.jpg")
}

#addressInput {
  margin-left: 4%;
}

#pizzaInput {
  margin: 5%;
  margin-bottom: 5%;
}

#toppingInputTwo {
  margin-top: 1%;
  margin-bottom: 8%;
  float:left;
}

#toppingInputOne {
  margin-top: 1%;
  margin-bottom: 8%;
  float:left;
}

#SizeInput {
  margin-top: 1%;
  margin-bottom: 8%;
  float:left;

}

#selectBox {
  background-color: #a50d0d;
  float: left;
  min-width: 600px;
  border-radius: 10px;
  margin-top: 5px;
}

#labelHead {
  color: #4b0202;
}

#createPie {
  color: #4b0202;
  background-color: #f4d9be;
  float:right;
  margin-top: 28%;
}

#addDelivery {
  color: #4b0202;
  background-color: #f4d9be;
}

#addressSpace {
  margin-top: 20%;
}
